@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes float {
    0%, 100% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-5%);
    }
  }
  
  .hover-animate {
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-animate:hover {
    animation: float 3s ease-in-out infinite;
  }
  

  .common-box {
    @apply rounded-[16px] shadow-custom-shadow bg-shadow-background border-[0.5px] border-shadow-border;
    @apply hover:shadow-custom-hover;
  }


  .title{
    /* text-{#1f1f25] text-[60px] font-[700] */
    color: #f3f3f7;
    font-size: 60px;
    font-weight: 700;
  }
  
  .sub-title{
    /* text-[#1f1f25] font-semibold text-3xl */
    font-size: 30px;
    line-height: 36px;
    color: #dbdbde;
    font-weight: 500;
  }
  
  .para{
    /* text-[#717173] text-xl */
    font-size: 20px;
    line-height: 28px;
    color: #a7a7a9;
    
  }
