@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes float {
    0%, 100% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-5%);
    }
  }
  
  .hover-animate {
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-animate:hover {
    animation: float 3s ease-in-out infinite;
  }
  